.cart
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  padding: $innerPadding
  margin-bottom: 20px

  @include cartStyle

  &:hover
    transform: translateX(6px)
    transition: transform 200ms

    &::before
      position: absolute
      top: 0
      left: 0
      content: ""
      width: 6px
      height: 100%
      background-color: $desaturatedDarkCyan
      border-radius: $borderRadius 0 0 $borderRadius


  &__info
  &__chips
    display: flex
    flex-direction: row


.info
  display: flex
  flex-direction: row
  align-items: center

  &__avatar
    margin-right: 20px

  &__describe


.describe
  display: grid
  grid-template-columns: repeat(3, auto)
  grid-template-rows: repeat(3, auto)

  justify-items: start
  align-items: flex-start

  margin-bottom: 10px
  
  &__company
    grid-area: 1 / 1 / 2 / 2
    justify-self: self-start
    align-self: center

    margin-bottom: 10px
    
    color: $desaturatedDarkCyan

  &__new
    grid-area: 1 / 2 / 2 / 3
    justify-self: self-start
    align-self: center

    margin-bottom: 10px

    @include chipStyle($desaturatedDarkCyan)

  &__featured
    grid-area: 1 / 3 / 2 / 4
    justify-self: self-start
    align-self: center

    margin-bottom: 10px

    @include chipStyle($veryDarkGrayishCyan)

  &__title
    grid-area: 2 / 1 / 3 / 4
    cursor: pointer
    transition: color 300ms

    &:hover
      color: $desaturatedDarkCyan

  &__sub-info
    grid-area: 3 / 1 / 4 / 4


.sub-info
  display: flex
  flex-direction: row
  align-items: center

  margin-top: 10px

  color: $darkGrayishCyan

  &__data
  &__time
  &__type
  &__separator
    width: 4px
    height: 4px
    margin: 0 10px
    border-radius: 50%
    background-color: $darkGrayishCyan
