.chip-container
  display: grid
  grid-template-columns: 1fr auto

  align-items: center

  height: 75px

  padding: 0 $innerPadding

  @include cartStyle

  transform: translateY(-50%)

.chip-list
  background: yellow
  width: 40px
  height: 40px

.btn-clear
  padding: 10px